<!DOCTYPE html>
<html>
<head>
    <title>Procesos Sospechosos</title>
</head>
<body>
    <h1>Procesos que consumen muchos recursos</h1>
    <table border="1">
        <tr>
            <th>PID</th>
            <th>Nombre</th>
            <th>CPU (%)</th>
            <th>RAM (%)</th>
        </tr>
        {% for proc in procesos %}
        <tr>
            <td>{{ proc.pid }}</td>
            <td>{{ proc.name }}</td>
            <td>{{ proc.cpu_percent }}</td>
            <td>{{ proc.memory_percent }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">No se detectaron procesos sospechosos.</td></tr>
        {% endfor %}
    </table>
</body>
</html>
